@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Mini Chat</title>
    <link rel="stylesheet" href="~/assets/css/main.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' defer></script>
    <!--<script  src="~/assets/js/script.js" defer></script>-->
</head>
<body>
    <!-- login -->
    <div class="login-page">
        <h3>Login Page</h3>
        <form class="form-login" method="post" asp-controller="account" asp-action="login">
            <input type="text" class="input-username" id="input-username" name="username" placeholder="login" />
            <input type="password" class="input-password" id="input-password" name="password" placeholder="mot de passe" />
            <button>Test Button</button><input type="submit" value="Login">
            <p class="message">@ViewBag.error</p>
        </form>
    </div>
    <!-- partial -->

</body>
</html>

