@{
    Layout = null;
    /* @Context.Session.GetString("username") */
}

@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lite Chat</title>
</head>
<body>
    <h3>Lite Chat</h3>
    <br>
    @Context.Session.GetString("username")
    <br>
    <br>
    <a asp-controller="account" asp-action="logout">Logout</a>

</body>
</html>